@import "./app.css";
@source "about_full.html";
@import "./default.css";
@import "./join.css";

.card {
  background-color: #00000080;
  margin-block: 2.5rem;
  text-align: justify;
}

.join {
  margin-top: 4em;
}
