@font-face {
  font-family: Orbitron;
  src: url(/orbitron.woff2)
}

@font-face {
  font-family: Poppins;
  src: url(/poppins.woff2)
}

@font-face {
  font-family: Poppins-light;
  src: url(/poppins-light.woff2)
}

.font-heading {
  font-family: "Orbitron";
  /* font-weight: 400; */
}

.font-mono {
  font-family: "Orbitron";
}

.font-poppins-light {
  font-family: "Poppins-light";
}
