---
layout: app.liquid
data: {layout: default.liquid, css: "about_final.css"}
---

<main class="flex flex-col items-center">
  <section class="card px-8 py-6">
    <h2 class="text-[1.75rem]">The Society</h2>
    <p>
      Lancaster University Computer Science Society exists to promote interest
      in computing and technology among students and wider society. Social and
      educational events are run every week, with beginner and advanced topics
      to cover a wide variety of interests. See our
      <a href="/events" class="text-blue-600 dark:text-blue-500 mx-[0.25em]">
        events
      </a>
      for more information.
    </p>
  </section>
  <section class="card px-8 py-6">
    <h2 class="text-[1.75rem]">The Executive Committee</h2>
    <p>
      The Executive Committee (or the Exec, for short) is responsible for the
      running of the Society. They plan and coordinate events and projects,
      acquire funding, and generally make the Society function. The Exec is
      voted for by the members, and each role is typically held for a year.
      More information about the Exec can be found in the
      <a href="/constitution" class="text-blue-600 dark:text-blue-500 ml-[0.25em]">
        Constitution </a>.
    </p>
  </section>
  {% include "join.liquid" %}
</main>