<a href=/join>
  <div class="button-container p-2 pl-4 max-w-max">
    <span class="text-2xl">Join LUCompSoc</span>
    <div class="arrow-circle">
      <div class="i-carbon-arrow-right text-white text-2xl"></div>
    </div>
  </div>
</a>