<!doctype html>

<link rel=preload href={{page.data.css}} as=style>
<link rel=preload href=/img/logo/full-transparent.webp as=image>
<link rel=preload href=/img/logo/TPP.png as=image>
<link rel=preload href=/poppins.woff2 as=font type=font/woff2 crossorigin>
<link rel=preload href=/orbitron.woff2 as=font type=font/woff2 crossorigin>
<link href = {{page.data.css}} rel = stylesheet>

<body class=text-white>
  <div>
    {% include page.data.layout %}
  </div>
</body>
